<a href="https://colab.research.google.com/github/YangxuanWu/Python/blob/master/LearningInSummer/LearningInSummer/prepare_country_stats_join_two_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
datapath = os.path.join("datasets", "lifesat")
#将datasets和lifeset这两个路径组合后返回，创建datasets为一级目录，二级目录为lifesat
import urllib
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
os.makedirs(datapath, exist_ok=True)
#讲网络文件导入进datasets
for filename in ("oecd_bli_2015.csv", "gdp_per_capita.csv"):
  url = DOWNLOAD_ROOT + "datasets/lifesat/" + filename
  urllib.request.urlretrieve(url, datapath + filename)
  #将URL表示的网络对象复制到本地文件
  print("Downloading", filename)

Downloading oecd_bli_2015.csv
Downloading gdp_per_capita.csv

In [16]:
def prepare_country_stats(oecd_bli, gdp_per_capita):#定义函数prepare_country_stats包含两个变量oecd_bli, gdp_per_capita（为数据列表名，方便识别）
    oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]
    #按照筛选条件：INEQUALITY=TOT，整理表格
    oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")
    #重塑新表，索引名称为Countrey，列名为Indicator，values是生成的值，这里默认value
    gdp_per_capita.rename(columns={"2015": "GDP per capita"}, inplace=True)
    #将表gdp_per_capita的列明更改为"2015: GDP per capita"，不创建新对象，直接修改原表，所以inplace=True
    gdp_per_capita.set_index("Country", inplace=True)
    #以Country为表gdp_per_capita的单一索引，并还原为列

#以上分别对两个列表的修改已经完成，接下来需要合并两个列表
#合并选择pandas中的merge函数（join也可以），用于表内部基于 index-on-index 和 index-on-column(s) 的合并，但默认是基于index来合并
    full_country_stats = pd.merge(left=oecd_bli, right=gdp_per_capita,left_index=True,right_index=True)
    #合并两个列表，左边为oecd_bli，右边为gdp_per_capita，两者都是按照共同列country索引，(然后设置索引作为连接的键)
    full_country_stats.sort_values(by="GDP per capita", inplace=True)
    #在新表中，将数据依照"GDP per capita"进行排序，类似与Oricle中的order by
    remove_indices = [0, 1, 6, 8, 33, 34, 35]
    keep_indices = list(set(range(36)) - set(remove_indices))
    #keep_indices为自定义行号，用set集合选择需要的行号
    return full_country_stats[["GDP per capita", 'Life satisfaction']].iloc[keep_indices]
    #返回新建列表，用iloc函数，通过行号来取数据，这里行号为之前定义的keep_indices

In [4]:
import pandas as pd
oecd_bli = pd.read_csv(datapath + "oecd_bli_2015.csv", thousands=',')
gdp_per_capita = pd.read_csv(datapath + "gdp_per_capita.csv",thousands=',',delimiter='\t',
                             encoding='latin1', na_values="n/a")

In [ ]:
oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]
oecd_bli

In [ ]:
oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")
oecd_bli

In [ ]:
gdp_per_capita.rename(columns={"2015": "GDP per capita"}, inplace=True)
gdp_per_capita

In [ ]:
gdp_per_capita.set_index("Country", inplace=True)
gdp_per_capita

In [ ]:
full_country_stats = pd.merge(left=oecd_bli, right=gdp_per_capita,left_index=True,right_index=True)
full_country_stats

In [ ]:
full_country_stats.sort_values(by="GDP per capita", inplace=True)
full_country_stats

In [26]:
remove_indices = [0, 1, 6, 8, 33, 34, 35]
keep_indices = list(set(range(36)) - set(remove_indices))

In [29]:
full_country_stats[["GDP per capita", 'Life satisfaction']].iloc[keep_indices]

                 GDP per capita  Life satisfaction
Country
Russia                 9054.914                6.0
Turkey                 9437.372                5.6
Hungary               12239.894                4.9
Poland                12495.334                5.8
Slovak Republic       15991.736                6.1
Estonia               17288.083                5.6
Greece                18064.288                4.8
Portugal              19121.592                5.1
Slovenia              20732.482                5.7
Spain                 25864.721                6.5
Korea                 27195.197                5.8
Italy                 29866.581                6.0
Japan                 32485.545                5.9
Israel                35343.336                7.4
New Zealand           37044.891                7.3
France                37675.006                6.5
Belgium               40106.632                6.9
Germany               40996.511                7.0
Finland               41973.988                7.4
Canada                43331.961                7.3
Netherlands           43603.115                7.3
Austria               43724.031                6.9
United Kingdom        43770.688                6.8
Sweden                49866.266                7.2
Iceland               50854.583                7.5
Australia             50961.865                7.3
Ireland               51350.744                7.0
Denmark               52114.165                7.5
United States         55805.204                7.2